In [5]:
/#solution to the question number1
marks=int(input('enter the marks'))
if marks >90:
	print('the grade is A')
elif marks >80 and marks<=90:
    print('the grade is B')
elif marks >=60 and marks <=80:
    print('the grade is C')
else :
    print('the grade is D')

enter the marks 45

the grade is D

In [14]:
#solution to the question number 2
price=int(input('enter the price of the bike'))
if price >100000:
	tax=price*15/100
	print('the tax is ',tax)
elif price >50000 and price <=100000:
	tax=price *10/100
	print('the tax is ',tax)
else:
	tax =price*5/100
	print( 'the tax is',tax)

enter the price of the bike 70000

the tax is  7000.0

In [18]:
#solutin to the question number 3
city= int(input('enter 1 for delhi ,2 for agra, 3 for jaipur'))
          

if city== 1:
	print('the monument in delhi is RED FORT')
elif city==2:
	print('the monument in agra is TAJ MAHAL')
else:
	print('the monument in jaipur is JAl MAHAL')

enter 1 for delhi ,2 for agra, 3 for jaipur 2

the monument in agra is TAJ MAHAL

In [5]:
#solution to the question number 4
number=int(input('please input the number to find the number of times divided beforeit is less than equal to ten'))
if number>29:
    i=0
    while number>10:
        number= number/3
        i=i+1
    print('the number can be divided '+str(i) +'number of times')  
else:
	print('the number can be divided zero number of times')

please input the number to find the number of times divided beforeit is less than equal to ten 56

the number can be divided 2number of times

In [ ]:
#soluton to the question mumber 5
while loop is generally used if we have single condition that is we do not know the 
number of times the loop will execute
if number>29:
    i=0
    while number>10:
        number= number/3
        i=i+1
    print('the number can be divided '+str(i) +'number of times')  
    
    
in the above example we do not know the number of times the loop will execute
.The user may take a large or small value depending on wich the no of times the loop 
will execute.

In case of the for loop for exmple
 for x in list_name 
    the loop will exexute for the total length of the list

In [83]:
#solution to the question number 6 first pattern
#nested loop ascending tree
num=0

while num<10:
	while num<10:
		num=num+1
		print('*'*num) 
	num=num+1

*
**
***
****
*****
******
*******
********
*********
**********

In [2]:
#soluntion to the question number second pattern
num=10

while num>0:
	while num>0:
		num=num-1
		print('*'*num) 
	num=num-1

*********
********
*******
******
*****
****
***
**
*

In [1]:
#solution to the question number6 third pattern
num=0

while num<10:
	while num<10:
		num=num+1
		print('hare rama'*num) 
	num=num+1

hare rama
hare ramahare rama
hare ramahare ramahare rama
hare ramahare ramahare ramahare rama
hare ramahare ramahare ramahare ramahare rama
hare ramahare ramahare ramahare ramahare ramahare rama
hare ramahare ramahare ramahare ramahare ramahare ramahare rama
hare ramahare ramahare ramahare ramahare ramahare ramahare ramahare rama
hare ramahare ramahare ramahare ramahare ramahare ramahare ramahare ramahare rama
hare ramahare ramahare ramahare ramahare ramahare ramahare ramahare ramahare ramahare rama

In [4]:
#solution to the question number 7 and 8
num=10
while num>=1:
    print(num)
    num=num-1